*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}



.ligne {
    background-color: aquamarine;
    border: 1px solid blue;
    border-radius: 5%;
}
table {
    
    background-color: aquamarine;
}
.menu {
    display: flex;
}

.titre{
    font-style: italic;
    display: flex;
    justify-content: center;
    color: blue;


}
.date {
    display: flex;
    justify-content: flex-end;
    color: blue;

}



#formulaire {
    background-color: rgb(216, 243, 247);
    width: 300px;
    height: 150px;


}
#admin{
    background-color: aquamarine;
}
