*{
    background-color: bisquer;
    margin: 2%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    color: black;
} 



.ligne {
    background-color: beige;
    border: 1px solid palevioletred;
    border-radius: 5%;
}
table {
    
    background-color: plum;
}

.menu {
    display: flex;
    color: palevioletred;
} 

.titre{
    font-style: italic;
    display: flex;
    justify-content: center;
    color: palevioletred;

} 
.date {

    display: flex;
    justify-content: flex-end;
    color: palevioletred;

} 



#formulaire {
    background-color: pink;
    width: 300px;
    height: 150px;
} 

 #admin{
    background-color: bisque;
} 

 .refus{
    display: flex;
    justify-content: center;
}

.selection{
    display: flex;
    justify-content: center;

}
.valider{
    display: flex;
    justify-content: center;
   
}
